body{
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}
li{
  list-style: none;
}
.todoDis{
  box-sizing: border-box;
  border: 1px solid black;
  float: left !important;
  background-color: beige;
  padding: 5px;
  width: 100%;
}
.btn{
  float: right !important;
}
.input-text{
  width: 100%;
}
.addBtn{
  float: right;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 10px;
  background-color: aliceblue;
  color: blue;
  border: 1px solid blue;
  border-radius: 4px;
}
.addBtn:hover{
  background-color: blue;
  color: aliceblue;
  transition: 0.7s;

}
.btn{
  background-color: rgb(104, 235, 104);
  border: 1px solid rgb(104, 235, 104) ;
  border-radius: 3px;
  padding: 3px;
  color: antiquewhite;
}