body{
  background-color: rgb(238, 236, 255) !important;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
li{
  list-style: none;
}
.todoDis{
  box-sizing: border-box;
  border: 1px solid black;
  float: left !important;
  background-color: beige;
  padding: 5px;
  width: 100%;
  height: 100%;
  margin: 5px;
  border-radius: 7px;

}
.btn{
  float: right !important;
}
.input-text{
  width: 50%;
  padding: 6px;
  margin: 5px;
  border: 1px solid rgb(138, 132, 197);
  border-radius: 6px;
}

/* .btn{
  background-color: rgb(104, 235, 104);
  border: 1px solid rgb(104, 235, 104) ;
  border-radius: 3px;
  padding: 3px;
  color: antiquewhite;
} */
.addBtn{
  margin: 5px;
}
.top, .appName, span{
  display: flex;
  justify-content: center;
  align-items: center;
}
.appName{
  margin-top: 4vh;
}